{{/* Responsive YouTube embed.
     Call as: {{ partial "video-embed.html" (dict "id" "4TzMgAReJos" "title" "Get to know Jim Godfrey") }}
     "id" is the part of the share link after youtu.be/ .
     youtube-nocookie.com is YouTube's privacy-enhanced host: it doesn't set
     tracking cookies on visitors who never press play. */}}
{{- $id := .id -}}
{{- $title := .title | default "Campaign video" -}}
{{- with $id -}}
<div class="video-frame">
  <iframe
    src="https://www.youtube-nocookie.com/embed/{{ . }}?rel=0"
    title="{{ $title }}"
    loading="lazy"
    referrerpolicy="strict-origin-when-cross-origin"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div>
{{- end -}}
